In [1]:
import MetaTrader5 as mt5
import datetime
import numpy as np
import pandas as pd


print("MetaTrader5 package author: ",mt5.__author__)
print("MetaTrader5 package version: ",mt5.__version__)

MetaTrader5 package author:  MetaQuotes Ltd.
MetaTrader5 package version:  5.0.45

In [2]:
if not mt5.initialize():
    print('Initialization failed, check internet connection. You must have Meta Trader 5 installed.')
    mt5.shutdown()

else:
    print(mt5.account_info()._asdict())
    print("\n")
    print(mt5.terminal_info()._asdict())
    print("\n")
    print(mt5.symbols_total())
    symbols = mt5.symbols_get()
    print(len(symbols))
    for symbol in symbols:
        if(symbol.name == "GBPUSD"):
            print("yes")
            break
# you code here

{'login': 75525372, 'trade_mode': 0, 'leverage': 100, 'limit_orders': 200, 'margin_so_mode': 0, 'trade_allowed': True, 'trade_expert': True, 'margin_mode': 2, 'currency_digits': 2, 'fifo_close': False, 'balance': 60.86, 'credit': 0.0, 'profit': 0.0, 'equity': 60.86, 'margin': 0.0, 'margin_free': 60.86, 'margin_level': 0.0, 'margin_so_call': 50.0, 'margin_so_so': 30.0, 'margin_initial': 0.0, 'margin_maintenance': 0.0, 'assets': 0.0, 'liabilities': 0.0, 'commission_blocked': 0.0, 'name': 'mike bright', 'server': 'MetaQuotes-Demo', 'currency': 'USD', 'company': 'MetaQuotes Software Corp.'}


{'community_account': True, 'community_connection': True, 'connected': True, 'dlls_allowed': False, 'trade_allowed': True, 'tradeapi_disabled': False, 'email_enabled': False, 'ftp_enabled': False, 'notifications_enabled': False, 'mqid': True, 'build': 4169, 'maxbars': 1000000, 'codepage': 0, 'ping_last': 170759, 'community_balance': 0.0, 'retransmission': 0.0, 'company': 'MetaQuotes Software Corp.', 'name': 'MetaTrader 5', 'language': 'English', 'path': 'C:\\Program Files\\MetaTrader 5', 'data_path': 'C:\\Users\\Omage Micheal\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075', 'commondata_path': 'C:\\Users\\Omage Micheal\\AppData\\Roaming\\MetaQuotes\\Terminal\\Common'}


140
140
yes

In [3]:
n = 1

In [4]:
#rates = mt5.copy_rates_from_pos("GBPUSD", mt5.TIMEFRAME_H1, 0, 99999)  

target_market = ["EURCHF","USDCAD","AUDUSD","USDCHF","NZDUSD","EURUSD","XAUUSD","Volatility 10 Index"]
market = mt5.copy_rates_from_pos(target_market[n], mt5.TIMEFRAME_H4, 0, 99999)  

print(market.shape)

(40553,)

In [5]:
market

array([( 735955200, 1.276  , 1.281  , 1.2683 , 1.269  ,  1841,  5, 0),
       ( 736041600, 1.2715 , 1.274  , 1.2687 , 1.2715 ,  1061, 50, 0),
       ( 736128000, 1.2715 , 1.275  , 1.2693 , 1.2711 ,  1101, 50, 0),
       ...,
       (1707091200, 1.34585, 1.3489 , 1.3456 , 1.34728, 10467,  7, 0),
       (1707105600, 1.34728, 1.34796, 1.34693, 1.34703,  8141,  7, 0),
       (1707120000, 1.34704, 1.34891, 1.34665, 1.34871, 11227,  5, 0)],
      dtype=[('time', '<i8'), ('open', '<f8'), ('high', '<f8'), ('low', '<f8'), ('close', '<f8'), ('tick_volume', '<u8'), ('spread', '<i4'), ('real_volume', '<u8')])

In [9]:
data = []
for i in range(len(market)):
    data.append([market[i][0],market[i][1],market[i][4],market[i][5]])

In [10]:
df = pd.DataFrame(data, columns=["Time", "Open","Close", "Tick Volume"])
df.head()

         Time      Open     Close  Tick Volume
0  1615208400  6152.787  6152.502          449
1  1615209300  6152.371  6152.779          450
2  1615210200  6153.003  6152.896          449
3  1615211100  6152.917  6149.942          450
4  1615212000  6149.729  6152.056          450

In [11]:
data = []
for i in range(len(market)):
    data.append(list(market[i]))
data=np.array(data)
data = data[:,:6]
print(data)

[[1.6152084e+09 6.1527870e+03 6.1532740e+03 6.1495260e+03 6.1525020e+03
  4.4900000e+02]
 [1.6152093e+09 6.1523710e+03 6.1553550e+03 6.1518880e+03 6.1527790e+03
  4.5000000e+02]
 [1.6152102e+09 6.1530030e+03 6.1543150e+03 6.1505380e+03 6.1528960e+03
  4.4900000e+02]
 ...
 [1.7052183e+09 6.9402260e+03 6.9403070e+03 6.9353470e+03 6.9380860e+03
  4.4900000e+02]
 [1.7052192e+09 6.9382410e+03 6.9390240e+03 6.9354230e+03 6.9372290e+03
  4.4800000e+02]
 [1.7052201e+09 6.9374210e+03 6.9387300e+03 6.9331760e+03 6.9337870e+03
  4.1900000e+02]]

In [12]:
df = pd.DataFrame(data, columns=["Time", "Open","High","Low","Close", "Tick Volume"])
df.head()

           Time      Open      High       Low     Close  Tick Volume
0  1.615208e+09  6152.787  6153.274  6149.526  6152.502        449.0
1  1.615209e+09  6152.371  6155.355  6151.888  6152.779        450.0
2  1.615210e+09  6153.003  6154.315  6150.538  6152.896        449.0
3  1.615211e+09  6152.917  6153.414  6146.055  6149.942        450.0
4  1.615212e+09  6149.729  6154.497  6149.243  6152.056        450.0

In [10]:
df.to_csv("Generated"+target_market[n]+" dbot.csv", index=False)

In [11]:
# set time zone to UTC
# Convert Unix epoch time to UTC time
utc_time = datetime.datetime.fromtimestamp(1396483200)

# Print the UTC time
print(utc_time)

2014-04-03 01:00:00

In [12]:
# Convert UTC time to Unix epoch time
utc_time = datetime.datetime(2023, 9, 28, 12, 0, 0)
unix_epoch_time = utc_time.timestamp()

# Print the Unix epoch time
print(unix_epoch_time)

1695898800.0