In [1]:
import MetaTrader5 as mt5
import datetime
import numpy as np
import pandas as pd


print("MetaTrader5 package author: ",mt5.__author__)
print("MetaTrader5 package version: ",mt5.__version__)

MetaTrader5 package author:  MetaQuotes Ltd.
MetaTrader5 package version:  5.0.45

In [2]:
if not mt5.initialize():
    print('Initialization failed, check internet connection. You must have Meta Trader 5 installed.')
    mt5.shutdown()

else:
    print(mt5.account_info()._asdict())
    print("\n")
    print(mt5.terminal_info()._asdict())
    print("\n")
    print(mt5.symbols_total())
    symbols = mt5.symbols_get()
    print(len(symbols))
    for symbol in symbols:
        if(symbol.name == "GBPUSD"):
            print("yes")
            break
# you code here

{'login': 212647441, 'trade_mode': 0, 'leverage': 500, 'limit_orders': 500, 'margin_so_mode': 0, 'trade_allowed': True, 'trade_expert': True, 'margin_mode': 2, 'currency_digits': 2, 'fifo_close': False, 'balance': 81.93, 'credit': 0.0, 'profit': -3.04, 'equity': 78.89, 'margin': 8.04, 'margin_free': 70.85, 'margin_level': 981.218905472637, 'margin_so_call': 25.0, 'margin_so_so': 15.0, 'margin_initial': 0.0, 'margin_maintenance': 0.0, 'assets': 0.0, 'liabilities': 0.0, 'commission_blocked': 0.0, 'name': 'micheal bright omage ', 'server': 'OctaFX-Demo', 'currency': 'USD', 'company': 'Octa Markets Incorporated'}


{'community_account': True, 'community_connection': True, 'connected': True, 'dlls_allowed': False, 'trade_allowed': True, 'tradeapi_disabled': False, 'email_enabled': False, 'ftp_enabled': False, 'notifications_enabled': False, 'mqid': False, 'build': 4092, 'maxbars': 100000, 'codepage': 0, 'ping_last': 128950, 'community_balance': 0.0, 'retransmission': 0.0, 'company': 'MetaQuotes Software Corp.', 'name': 'MetaTrader 5', 'language': 'English', 'path': 'C:\\Program Files\\MetaTrader 5', 'data_path': 'C:\\Users\\Omage Micheal\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075', 'commondata_path': 'C:\\Users\\Omage Micheal\\AppData\\Roaming\\MetaQuotes\\Terminal\\Common'}


273
273
yes

In [3]:
n = 5

In [5]:
#rates = mt5.copy_rates_from_pos("GBPUSD", mt5.TIMEFRAME_H1, 0, 99999)  

target_market = ["GBPUSD","USDCAD","AUDUSD","USDCHF","NZDUSD","EURUSD","XAUUSD"]
market = mt5.copy_rates_from_pos(target_market[n], mt5.TIMEFRAME_H4, 0, 9999990)  
if(market == None):print("i am none")
print(market.shape)

i am none

AttributeError: 'NoneType' object has no attribute 'shape'

In [171]:
market

array([(  31795200, 0.5369 , 0.5369 , 0.5369 , 0.5369 ,     1, 50, 0),
       (  31881600, 0.5366 , 0.5366 , 0.5366 , 0.5366 ,     1, 50, 0),
       (  31968000, 0.5365 , 0.5365 , 0.5365 , 0.5365 ,     1, 50, 0),
       ...,
       (1703232000, 1.09964, 1.10131, 1.09935, 1.10039, 24660,  9, 0),
       (1703246400, 1.10039, 1.10376, 1.10014, 1.10284, 34931,  9, 0),
       (1703260800, 1.10284, 1.10334, 1.10274, 1.10328,   654,  9, 0)],
      dtype=[('time', '<i8'), ('open', '<f8'), ('high', '<f8'), ('low', '<f8'), ('close', '<f8'), ('tick_volume', '<u8'), ('spread', '<i4'), ('real_volume', '<u8')])

In [172]:
data = []
for i in range(len(market)):
    data.append([market[i][0],market[i][1],market[i][4],market[i][5]])

In [173]:
df = pd.DataFrame(data, columns=["Time", "Open","Close", "Tick Volume"])
df.head()

       Time    Open   Close  Tick Volume
0  31795200  0.5369  0.5369            1
1  31881600  0.5366  0.5366            1
2  31968000  0.5365  0.5365            1
3  32054400  0.5368  0.5368            1
4  32140800  0.5371  0.5371            1

In [174]:
df.to_csv("Generated"+target_market[n]+" dbot.csv", index=False)

In [175]:
# set time zone to UTC
# Convert Unix epoch time to UTC time
utc_time = datetime.datetime.fromtimestamp(1396483200)

# Print the UTC time
print(utc_time)

2014-04-03 01:00:00

In [176]:
# Convert UTC time to Unix epoch time
utc_time = datetime.datetime(2023, 9, 28, 12, 0, 0)
unix_epoch_time = utc_time.timestamp()

# Print the Unix epoch time
print(unix_epoch_time)

1695898800.0