In [2]:
import MetaTrader5 as mt5
import datetime
import numpy as np
import pandas as pd


print("MetaTrader5 package author: ",mt5.__author__)
print("MetaTrader5 package version: ",mt5.__version__)

MetaTrader5 package author:  MetaQuotes Ltd.
MetaTrader5 package version:  5.0.45

In [3]:
if not mt5.initialize():
    print('Initialization failed, check internet connection. You must have Meta Trader 5 installed.')
    mt5.shutdown()

else:
    print(mt5.account_info()._asdict())
    print("\n")
    print(mt5.terminal_info()._asdict())
    print("\n")
    print(mt5.symbols_total())
    symbols = mt5.symbols_get()
    print(len(symbols))
    for symbol in symbols:
        if(symbol.name == "GBPUSD"):
            print("yes")
            break
# you code here

{'login': 31328266, 'trade_mode': 0, 'leverage': 500, 'limit_orders': 50, 'margin_so_mode': 0, 'trade_allowed': True, 'trade_expert': True, 'margin_mode': 2, 'currency_digits': 2, 'fifo_close': False, 'balance': 10000.0, 'credit': 0.0, 'profit': 0.0, 'equity': 10000.0, 'margin': 0.0, 'margin_free': 10000.0, 'margin_level': 0.0, 'margin_so_call': 100.0, 'margin_so_so': 50.0, 'margin_initial': 0.0, 'margin_maintenance': 0.0, 'assets': 0.0, 'liabilities': 0.0, 'commission_blocked': 0.0, 'name': 'Demo Derived', 'server': 'Deriv-Demo', 'currency': 'USD', 'company': 'Deriv.com Limited'}


{'community_account': True, 'community_connection': True, 'connected': True, 'dlls_allowed': False, 'trade_allowed': True, 'tradeapi_disabled': False, 'email_enabled': False, 'ftp_enabled': False, 'notifications_enabled': False, 'mqid': False, 'build': 4092, 'maxbars': 100000, 'codepage': 0, 'ping_last': 161840, 'community_balance': 0.0, 'retransmission': 5.938520516825217, 'company': 'MetaQuotes Software Corp.', 'name': 'MetaTrader 5', 'language': 'English', 'path': 'C:\\Program Files\\MetaTrader 5', 'data_path': 'C:\\Users\\Omage Micheal\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075', 'commondata_path': 'C:\\Users\\Omage Micheal\\AppData\\Roaming\\MetaQuotes\\Terminal\\Common'}


52
52

In [5]:
n = 7

In [7]:
#rates = mt5.copy_rates_from_pos("GBPUSD", mt5.TIMEFRAME_H1, 0, 99999)  

target_market = ["GBPUSD","USDCAD","AUDUSD","USDCHF","NZDUSD","EURUSD","XAUUSD","Volatility 10 Index"]
market = mt5.copy_rates_from_pos(target_market[n], mt5.TIMEFRAME_H1, 0, 99999)  

print(market.shape)

(43979,)

In [8]:
market

array([(1546318800, 7989.803, 7990.783, 7981.851, 7985.697, 1732, 300, 0),
       (1546322400, 7985.807, 7994.125, 7984.129, 7985.746, 1797, 300, 0),
       (1546326000, 7985.621, 7991.298, 7979.697, 7985.078, 1798, 300, 0),
       ...,
       (1704636000, 6746.998, 6748.691, 6738.086, 6743.773, 1797, 163, 0),
       (1704639600, 6743.955, 6746.692, 6735.127, 6738.982, 1793, 163, 0),
       (1704643200, 6739.229, 6740.984, 6733.55 , 6735.692, 1609, 163, 0)],
      dtype=[('time', '<i8'), ('open', '<f8'), ('high', '<f8'), ('low', '<f8'), ('close', '<f8'), ('tick_volume', '<u8'), ('spread', '<i4'), ('real_volume', '<u8')])

In [9]:
data = []
for i in range(len(market)):
    data.append([market[i][0],market[i][1],market[i][4],market[i][5]])

In [10]:
df = pd.DataFrame(data, columns=["Time", "Open","Close", "Tick Volume"])
df.head()

         Time      Open     Close  Tick Volume
0  1546318800  7989.803  7985.697         1732
1  1546322400  7985.807  7985.746         1797
2  1546326000  7985.621  7985.078         1798
3  1546329600  7984.991  7989.836         1797
4  1546333200  7989.806  7985.492         1798

In [11]:
data = []
for i in range(len(market)):
    data.append(list(market[i]))
data=np.array(data)
data = data[:,:6]
print(data)

[[1.5463188e+09 7.9898030e+03 7.9907830e+03 7.9818510e+03 7.9856970e+03
  1.7320000e+03]
 [1.5463224e+09 7.9858070e+03 7.9941250e+03 7.9841290e+03 7.9857460e+03
  1.7970000e+03]
 [1.5463260e+09 7.9856210e+03 7.9912980e+03 7.9796970e+03 7.9850780e+03
  1.7980000e+03]
 ...
 [1.7046360e+09 6.7469980e+03 6.7486910e+03 6.7380860e+03 6.7437730e+03
  1.7970000e+03]
 [1.7046396e+09 6.7439550e+03 6.7466920e+03 6.7351270e+03 6.7389820e+03
  1.7930000e+03]
 [1.7046432e+09 6.7392290e+03 6.7409840e+03 6.7335500e+03 6.7356920e+03
  1.6090000e+03]]

In [12]:
df = pd.DataFrame(data, columns=["Time", "Open","High","Low","Close", "Tick Volume"])
df.head()

           Time      Open      High       Low     Close  Tick Volume
0  1.546319e+09  7989.803  7990.783  7981.851  7985.697       1732.0
1  1.546322e+09  7985.807  7994.125  7984.129  7985.746       1797.0
2  1.546326e+09  7985.621  7991.298  7979.697  7985.078       1798.0
3  1.546330e+09  7984.991  7999.997  7983.987  7989.836       1797.0
4  1.546333e+09  7989.806  7992.654  7983.357  7985.492       1798.0

In [10]:
df.to_csv("Generated"+target_market[n]+" dbot.csv", index=False)

In [11]:
# set time zone to UTC
# Convert Unix epoch time to UTC time
utc_time = datetime.datetime.fromtimestamp(1396483200)

# Print the UTC time
print(utc_time)

2014-04-03 01:00:00

In [12]:
# Convert UTC time to Unix epoch time
utc_time = datetime.datetime(2023, 9, 28, 12, 0, 0)
unix_epoch_time = utc_time.timestamp()

# Print the Unix epoch time
print(unix_epoch_time)

1695898800.0