In [1]:
import MetaTrader5 as mt5
import datetime
import numpy as np
import pandas as pd


print("MetaTrader5 package author: ",mt5.__author__)
print("MetaTrader5 package version: ",mt5.__version__)

MetaTrader5 package author:  MetaQuotes Ltd.
MetaTrader5 package version:  5.0.45

In [2]:
if not mt5.initialize():
    print('Initialization failed, check internet connection. You must have Meta Trader 5 installed.')
    mt5.shutdown()

else:
    print(mt5.account_info()._asdict())
    print("\n")
    print(mt5.terminal_info()._asdict())
    print("\n")
    print(mt5.symbols_total())
    symbols = mt5.symbols_get()
    print(len(symbols))
    for symbol in symbols:
        if(symbol.name == "GBPUSD"):
            print("yes")
            break
# you code here

{'login': 212647441, 'trade_mode': 0, 'leverage': 500, 'limit_orders': 500, 'margin_so_mode': 0, 'trade_allowed': True, 'trade_expert': True, 'margin_mode': 2, 'currency_digits': 2, 'fifo_close': False, 'balance': 40.51, 'credit': 0.0, 'profit': -0.49, 'equity': 40.02, 'margin': 8.07, 'margin_free': 31.95, 'margin_level': 495.910780669145, 'margin_so_call': 25.0, 'margin_so_so': 15.0, 'margin_initial': 0.0, 'margin_maintenance': 0.0, 'assets': 0.0, 'liabilities': 0.0, 'commission_blocked': 0.0, 'name': 'micheal bright omage ', 'server': 'OctaFX-Demo', 'currency': 'USD', 'company': 'Octa Markets Incorporated'}


{'community_account': True, 'community_connection': True, 'connected': True, 'dlls_allowed': False, 'trade_allowed': True, 'tradeapi_disabled': False, 'email_enabled': False, 'ftp_enabled': False, 'notifications_enabled': False, 'mqid': False, 'build': 4092, 'maxbars': 100000, 'codepage': 0, 'ping_last': 136760, 'community_balance': 0.0, 'retransmission': 0.20725388601036268, 'company': 'MetaQuotes Software Corp.', 'name': 'MetaTrader 5', 'language': 'English', 'path': 'C:\\Program Files\\MetaTrader 5', 'data_path': 'C:\\Users\\Omage Micheal\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075', 'commondata_path': 'C:\\Users\\Omage Micheal\\AppData\\Roaming\\MetaQuotes\\Terminal\\Common'}


273
273
yes

In [3]:
n = 6

In [4]:
#rates = mt5.copy_rates_from_pos("GBPUSD", mt5.TIMEFRAME_H1, 0, 99999)  

target_market = ["GBPUSD","USDCAD","AUDUSD","USDCHF","NZDUSD","EURUSD","XAUUSD"]
market = mt5.copy_rates_from_pos(target_market[n], mt5.TIMEFRAME_M30, 0, 99999)  

print(market.shape)

(96406,)

In [5]:
market

array([(1396483200, 1286.69, 1289.01, 1281.55, 1286.34, 49277,  0, 0),
       (1396569600, 1286.86, 1306.7 , 1284.17, 1302.66, 91423,  0, 0),
       (1396828800, 1303.65, 1304.02, 1295.52, 1296.84, 28762,  0, 0),
       ...,
       (1704218400, 2059.28, 2067.55, 2059.12, 2065.39, 16918, 24, 0),
       (1704220200, 2065.39, 2066.86, 2064.08, 2066.04,  8295, 24, 0),
       (1704222000, 2066.02, 2066.89, 2065.26, 2065.76,  3181, 24, 0)],
      dtype=[('time', '<i8'), ('open', '<f8'), ('high', '<f8'), ('low', '<f8'), ('close', '<f8'), ('tick_volume', '<u8'), ('spread', '<i4'), ('real_volume', '<u8')])

In [6]:
data = []
for i in range(len(market)):
    data.append([market[i][0],market[i][1],market[i][4],market[i][5]])

In [7]:
df = pd.DataFrame(data, columns=["Time", "Open","Close", "Tick Volume"])
df.head()

         Time     Open    Close  Tick Volume
0  1396483200  1286.69  1286.34        49277
1  1396569600  1286.86  1302.66        91423
2  1396828800  1303.65  1296.84        28762
3  1396915200  1295.79  1308.31        29838
4  1397001600  1308.14  1311.51        32383

In [8]:
data = []
for i in range(len(market)):
    data.append(list(market[i]))
data=np.array(data)
data = data[:,:6]
print(data)

[[1.3964832e+09 1.2866900e+03 1.2890100e+03 1.2815500e+03 1.2863400e+03
  4.9277000e+04]
 [1.3965696e+09 1.2868600e+03 1.3067000e+03 1.2841700e+03 1.3026600e+03
  9.1423000e+04]
 [1.3968288e+09 1.3036500e+03 1.3040200e+03 1.2955200e+03 1.2968400e+03
  2.8762000e+04]
 ...
 [1.7042184e+09 2.0592800e+03 2.0675500e+03 2.0591200e+03 2.0653900e+03
  1.6918000e+04]
 [1.7042202e+09 2.0653900e+03 2.0668600e+03 2.0640800e+03 2.0660400e+03
  8.2950000e+03]
 [1.7042220e+09 2.0660200e+03 2.0668900e+03 2.0652600e+03 2.0657600e+03
  3.1810000e+03]]

In [9]:
df = pd.DataFrame(data, columns=["Time", "Open","High","Low","Close", "Tick Volume"])
df.head()

           Time     Open     High      Low    Close  Tick Volume
0  1.396483e+09  1286.69  1289.01  1281.55  1286.34      49277.0
1  1.396570e+09  1286.86  1306.70  1284.17  1302.66      91423.0
2  1.396829e+09  1303.65  1304.02  1295.52  1296.84      28762.0
3  1.396915e+09  1295.79  1314.28  1295.79  1308.31      29838.0
4  1.397002e+09  1308.14  1314.99  1300.80  1311.51      32383.0

In [10]:
df.to_csv("Generated"+target_market[n]+" dbot.csv", index=False)

In [11]:
# set time zone to UTC
# Convert Unix epoch time to UTC time
utc_time = datetime.datetime.fromtimestamp(1396483200)

# Print the UTC time
print(utc_time)

2014-04-03 01:00:00

In [12]:
# Convert UTC time to Unix epoch time
utc_time = datetime.datetime(2023, 9, 28, 12, 0, 0)
unix_epoch_time = utc_time.timestamp()

# Print the Unix epoch time
print(unix_epoch_time)

1695898800.0